.container{
	box-sizing:border-box;
	min-height:100%;
	background: url(../images/back.jpg) no-repeat 0 0;
	background-size:100% 100%;
	padding-bottom:.1rem;
	font-size:.16rem;
}
.changetype{
	color: #fff;
    text-align: center;
    padding-top: .12rem;
    font-size: .18rem;
}
#card-img{
	padding-top:.12rem;
/*	text-align: center;*/
}
/*#card-img>img{
	max-width:100%;
	height:1.48rem;
}*/
.apply .switch-area {
    margin: 0 auto;
    width:3rem;
    position: relative;
    height:1.18rem;
    margin-bottom:.18rem;
}
.apply .switch-area .tab {
    position: absolute;
    width: 1.06rem;
    height: .63rem;
}
.apply .switch-area .one, .apply .switch-area .three {
    position: absolute;
    width: 1.3rem;
    height: .82rem;
    -webkit-border-radius: .06rem;
    -moz-border-radius: .06rem;
    border-radius: .06rem;
}
.apply .switch-area .two {
    position: absolute;
    width: 1.9rem;
    height: 1.2rem;
    /*background: url(../images/giffgaff.jpg) 0 0 no-repeat;*/
    /*background-size: 100%;*/
    -webkit-border-radius: .06rem;
    -moz-border-radius: .06rem;
    border-radius: .06rem;
}
.apply .switch-area .three {
    /*background: url(../images/tmobile.png) 0 0 no-repeat;*/
    /*background-size: 100%;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.apply .switch-area .tab.center {
    width: 1.9rem;
    height: 1.2rem;
    z-index: 10;
    top: 0;
    left: .57rem;
}
.apply .switch-area .tab.left {
    top: .24rem;
    width: 1.3rem;
    height: .82rem;
    left: -.09rem;
    z-index: 4;
}
.apply .switch-area .tab.right {
    z-index: 4;
    top: .24rem;
    width: 1.3rem;
    height: .82rem;
    left: 1.8rem;
}
.apply .switch-area .down {
	 z-index: 0;
}
.apply .switch-area .tab.transition {
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
#free-get-card{
	padding-top:.1rem;
	padding-bottom:.1rem;
}
#btn-free{
	display:block;
	width:2.7rem;
	text-align:center;
	line-height:.46rem;
	margin:0 auto;
	border:none;
	border-radius:.05rem;
	background:#ca1d7b;
	font-size:.17rem;
	color:#fff;
	font-family:"微软雅黑";
}
#charge-detail{
	box-sizing:border-box;
	padding-left:.26rem;
	padding-right:.26rem;
}
#content{
	background:#fff;
	border-radius:.1rem;
}
#charge-title{
	text-align:center;
	line-height:.37rem;
	font-size:.15rem;
}
#package-title{
  display:flex;
  border-top:1px solid #333;
}
#package-title>p.left{
	flex:2;
}
#package-title>p.right{
	flex:3;
	box-sizing:border-box;
	border-left:1px solid #333;
}
#package-title>p{
	text-align:center;
	line-height:.29rem;
	font-size:.15rem;
}
#list>li{
	overflow:hidden;
    display:flex;
}
#list>li>.left{
	flex:2;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	border-top:1px solid #333;
}
#list>li>.right{
	flex:3;
	border-left:1px solid #333;
	border-top:1px solid #333;
}
#list>li>div{
	box-sizing:border-box;
	text-align:center;
	padding-top:.055rem;
	padding-bottom:.055rem;
	font-size:.14rem;
}
/*#list>li>div.left{
	padding-top:.09rem;
	padding-bottom:.09rem;
}*/
#list>li:last-child{
	height:.32rem;
	border-top:1px solid #333;
}
strong{
	font-size:.17rem;
}
#know{
   color:#353535;
   font-size:0.15rem;
}