		html,body {
			color: #fff;
			height:100%;
		}
		.container{
			height:100%;
			background: url(../images/back.jpg) no-repeat 0 0;
			background-size:100%;
		}
		.bottom-btn {
			margin-top: 10rem;
		}
		
		.head {
			padding-top: 40%;
		}
		
		.pink-circle {
			margin: 0 auto;
			width: 6rem;
			height: 6rem;
			border-radius: 100%;
			background-color: #ca1d7b;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		
		.pink-circle img {
			width: 40%;
		}
		
		.suc-sub {
			text-align: center;
			font-family: 微软雅黑;
			font-size: 1rem;
			margin-top: 1.5rem;
		}
		
		.suc-detail {
			margin-top: .5rem;
			text-align: center;
			font-size: .7rem;
			font-family: "Adobe 黑体 Std";
		}