		html,body {
			color: #fff;
			height:100%;
		}
		
		.container{
			height:100%;
			background: url(../images/back.jpg) no-repeat 0 0;
			background-size:100%;
		}
		p {
			margin: .5rem 1rem;
			font-weight: lighter;
		}
		
		.upload-left {
			width: 40%;
			height: 5rem;
			background-color: #e4e2e5;
			float: left;
			display: flex;
			display: -webkit-flex; /* Safari */
			align-items: center;
			justify-content: center;
		}
		
		.upload-left img {
			width: 3rem;
		}
		
		.upload-right {
			margin-left: 2%;
			width: 58%;
			float: left;
			height: 5rem;
			background-color: #e4e2e5;
			text-align:center;
		}
		
		.upload-right img {
			width: 100%;
			height: 100%;
		}
		
		.layui-upload-file {
			display: none !important;
			opacity: .01;
			filter: Alpha(opacity = 1);
		}
		
		.bottom-btn {
			margin-top:7rem;
		}
		
		.head {
			padding-top: 1rem;
		}